@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 54% 98%;
    --foreground: 0 63% 1%;
    --muted: 120 9% 88%;
    --muted-foreground: 120 0% 29%;
    --popover: 0 54% 98%;
    --popover-foreground: 0 63% 1%;
    --card: 0 54% 98%;
    --card-foreground: 0 63% 1%;
    --border: 0 4% 89%;
    --input: 0 4% 89%;
    --primary: 0 68% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 120 0% 100%;
    --accent: 35.88 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 82% 30%;
    --destructive-foreground: 4 82% 90%;
    --ring: 0 68% 56%;
    --radius: 0.5rem;
    --green: 144 100% 50%;
  }

  .dark {
    --background: 0 55% 0%;
    --foreground: 0 13% 97%;
    --muted: 120 9% 12%;
    --muted-foreground: 120 0% 71%;
    --popover: 0 55% 0%;
    --popover-foreground: 0 13% 97%;
    --card: 0 55% 0%;
    --card-foreground: 0 13% 97%;
    --border: 0 4% 15%;
    --input: 0 4% 15%;
    --primary: 0 68% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 68% 56%;
    --secondary-foreground: 120 68% 16%;
    --accent: 240 68% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 82% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 68% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-promotion {
  @apply bg-cover bg-no-repeat bg-center;
  background-image: url("/JBL.png");
  background-size: 37rem;
}

.bg-hero {
  @apply bg-cover bg-no-repeat bg-center;
  background-image: url("/hero_apple.png");
  background-size: 32rem;
  background-position: -80px 20px;
}

.swiper-pagination-bullet {
  background-color: hsl(var(--input)) !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  border: 2px solid white;
  background-color: hsl(var(--primary)) !important;
}
